
* { box-sizing: border-box; }

html { overflow-y: scroll; }

body { 
  font-family: sans-serif;
}

a {
  color: $black-0;

  &:hover,
  &:visited,
  &:active,
  &:target {
    text-decoration: none;
  } 
}

ul {
  list-style: none;
}
